@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  margin: 0;
  width: 100%;
   overflow-x:hidden;
}

body {
	font: 16px "Open Sans",Helvetica Neue,sans-serif;
	position: relative;
  width: 100%;
    overflow-x:hidden;
}

a:hover {
  text-decoration: none !important;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 110vh;
  left: 0;
  position: absolute;
  top: -100px;
  width: 100%;
  opacity: 0;
  font-size: 50px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.little-site-text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.big-site-text-content {
  background: #DDDDDD;
  color: black;
  cursor: pointer;
  display: table;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  font-size: 50px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.big-site-text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.little-site-text-content {
  background: #DDDDDD;
  color: black;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  font-size: 50px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.site-example1:hover span.big-site-text-content {
  opacity: 1;
}
.site-example2:hover span.big-site-text-content {
  opacity: 1;
}
.site-example3:hover span.little-site-text-content {
  opacity: 1;
}
.site-example4:hover span.little-site-text-content {
  opacity: 1;
}
.site-example5:hover span.little-site-text-content {
  opacity: 1;
}

.navLinkStyle {
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 200;
	font-style: normal;
	color: #ffffff;
	top: 17px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid transparent; /*To compensate for the added border on hover*/
}

.navLinkStyle:hover {
	background: none !important;
	color: #ffffff;
}

.active .navLinkStyle{
	background: none !important;
	color: #ffffff;
	border: 2px solid #ffffff;
	top: 17px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 8px !important;
}

.appearCollapse {
	color: #FFFFFF;
	font-size: 25px;
}

.navbar-margin-right {
	padding-right: 10px;
}

#homeHeader {
	padding-top: 200px;
  padding-bottom: 200px;
  background: url(../assets/sf.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #ffffff;
  background-attachment: scroll;
  background-position: middle;
  margin-top: -22px;
}


.homeHeading {
	 font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 70px;
    color: white;
    letter-spacing: 1px;
    margin-top: 100px;
}


.homeP {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding-top: 40px;
	line-height: 40px;
	color: white;
}

#aboutSection {
	background-color: #6BB9F0;
	height: 100vh;
	min-height: 800px;
}


.positionC {
	padding-top: 220px;
	
}

.heightS {
  max-height: 500px;
}

.cBorder {
	margin-top: 100px;
	border-radius: 5px;
}



.cBorder:hover span.text-content {
  opacity: 1;
}

.aboutHeading {
	 font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 70px;
    color: white;
    letter-spacing: 1px;
    
}



.aboutP {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding-top: 40px;
	line-height: 40px;
	color: #E5E9E9;
}

.aboutDiv {
	padding-top: 100px;
}
.skills {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
	
}

.skillsPosition {
	margin-top: 50px;
	border: 2px solid #E5E9E9;
	color: white;
	height: 50px;
	padding-top:12px;
}

.skillsPosition:hover {
	color: black;
	background-color: white;
	border-color: white;
}


#workSection {
	background-color: #2E2E2E;
	height: 100vh;
	min-height: 800px;
}

.sectionPos {
	margin-top: 100px;
}

.site-font {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;

}
.site-example1 {
	background-color: #272727;
	height: 400px;
	
}
.site-example2 {
	background-color: #2E2E2E;
	height: 400px;
}
.site-example3 {
	background-color: #202020;
	height: 300px;
}
.site-example4 {
	background-color: #242424;
	height: 300px;
}
.site-example5 {
	background-color: #383838;
	height: 300px;
}





.site-link {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
   text-align: center;
  vertical-align: middle;
	
}

.site-link-position {
	margin-top: 50px;
	border: 2px solid #28FFDF;
	color: black;
	height: 50px;
	padding-top:12px;
}


#contactSection {
  background-color: #FFE273;
  height: 100vh;
  min-height: 800px;
}

/*991*/
.contactHeader {
	font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 70px;
    color: #036F81;
    letter-spacing: 1px;
    padding-top: 150px;
}

.iconPos {
	padding-top: 150px;
}
.below-icon-p {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #036F81;
}

.below-icon-p:hover {
    color: white;
}



.footer-below {
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
  background-color: #036F81;
  color: white;
  height: 80px;
  padding-top: 30px;
}

/********************** All Media Queries ***********************************/

@media (max-width: 767px) {
  .homeHeading {
    padding-top: 40px;
  }
}
@media (max-width: 469px) {
  .homeHeading{
    line-height: 70px;
  }
  #homeHeader {
    min-height: 1000px;
  }}

@media (max-width: 1167px) {
  .site-link {
    font-size: 12px;
  }
}
@media (max-width: 1077px) {
  .site-link {
    font-size: 9px;
  }
}

@media (max-width: 801px) {
  .site-link {
    font-size: 7px;
  }
}
@media (max-width: 767px) {
  .site-link {
    font-size: 12px;
  }
}
@media (max-width: 451px) {
  .site-link {
    font-size: 8px;
  }
}

@media (max-width: 1248px) {
  span.little-site-text-content {
    font-size: 35px;

  }
}

@media (max-width: 1083px) {
  span.big-site-text-content {
    font-size: 35px;

  }
}
@media (max-width: 786px) {
  span.big-site-text-content {
    font-size: 30px;

  }
}

@media (max-width: 900px) {
  span.little-site-text-content {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  span.big-site-text-content {
   height: 420px;
  }
}
@media (max-width: 767px) {
  span.little-site-text-content {
   height: 440px;
  }
}

@media (max-width: 767px) {
  .aboutHeading {
    padding-top: 40px;
  }
}
@media (max-width: 469px) {
  .aboutHeading{
    line-height: 70px;
  }}

@media screen and (max-width: 1050px) {
    .skills {
        font-size: 12px;
    }
}
@media screen and (max-width: 991px) {
    .skills {
        font-size: 15px;
    }
}
@media screen and (max-width: 433px) {
    .skills {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .skillsPosition {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    #aboutSection {
        width: 100%;
        height: 1200px;
        margin-left: auto;
        margin-right: auto;
        
    }
}
@media screen and (max-width: 767px) {
    #aboutSection {
        width: 100%;
        height: 1300px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media (max-width: 767px) {
  #workSection {
    min-height: 2250px;
  }
}

@media (max-width: 767px) {
  .site-example1, .site-example2 {
   height: 420px;
   margin-bottom: -20px;
  }
}
@media (max-width: 767px) {
  .site-example3, .site-example4, .site-example5 {
    height: 440px;
    margin-bottom: -20px;
  }
}

